[alias]
  co = checkout
  ci = commit
  rb = rebase
  sync = !git pull --rebase && git push
  com = !git add . && git commit -am
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
  cp = cherry-pick
  br = "!f() { git checkout $(git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads | pick | cut -f2); }; f"
[user]
  name = Guangda Zhang
  email = zhangxiaoyu9350@gmail.com
[color]
  ui = true
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[merge]
  # tool = diffmerge
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[diff]
  # tool = diffmerge
  tool = nvimdiff
[mergetool "nvimdiff"]
  prompt = false
  # cmd = "nvim -f -c \"Gdiffsplit!\" \"$MERGED\""
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
[difftool "nvimdiff"]
  prompt = false
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
# [difftool]
#   prompt = false
# [merge]
# 	tool = diffmerge
# [mergetool "diffmerge"]
# 	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
# 	trustExitCode = true
# [diff]
# 	tool = diffmerge
# [difftool "diffmerge"]
# 	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[push]
  default = simple
[filter "hawser"]
  clean = git hawser clean -- %f
  smudge = git hawser smudge -- %f
  required = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  excludesfile = /Users/guangda.zhang/.gitignore_global
  pager = diff-so-fancy | less --tabs=2 -RFX
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
